table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }

  p{
      font-family: Arial, Helvetica, sans-serif;
      color:brown
  }

  #centro{
      color:red
  }

  h1,h2{
      color: white;
      text-align:center;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  body{
      background-color: black;
      text-align: center;
  }

  video{
      
      object-fit: contain;
  }

  a{
      color:Aquamarine;
  }